<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocxUploadServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.DocxUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocxUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FillerServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.FillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FillerServlet</servlet-name>
        <url-pattern>/filler</url-pattern>
    </servlet-mapping>
</web-app>