<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FillerServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.FillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FillerServlet</servlet-name>
        <url-pattern>/filler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MultipleUploadServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.MultipleUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultipleUploadServlet</servlet-name>
        <url-pattern>/multipleUpload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FormGeneratorServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.FormGeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormGeneratorServlet</servlet-name>
        <url-pattern>/formGenerator</url-pattern>
    </servlet-mapping>

    <!--<servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>kz.zateyev.pdformation.servlet.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>-->
</web-app>